.page404 {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: auto;
}

.titre404 {
    color: #ff6060;
    font-size: 230px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}

.description404 {
    color: #ff6060;
    font-size: 36px;
    margin-bottom: 30px;
}

.lien-accueil {
    margin: 50px auto 40px auto;
    color: #ff6060;
    font-weight: 500;
    font-size: 18px;
}

@media screen and (max-width: 769px) {

    .titre404 {
        font-size: 96px;
        margin: 140px 0 10px 0;
    }

    .description404 {
        font-size: 18px;
        margin-bottom: 85px;
    }

    .lien-accueil {
        font-size: 14px;
        margin-top: 40px;
    }
}