.cards{
    width: 340px;
    height: 340px;
    border-radius: 10px;
    margin-bottom: 25px;
    position: relative;
    
}
.gradients:hover{
    background: linear-gradient(180deg, #ff6060 5%, #000000a6 90%);
    opacity: 50%;
}

.gradients {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    bottom: 0;
    left:0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

.card-image {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.card-titre {
    color: #ffffff;
    position: absolute;
    left: 10px;
    right: 5px;
    bottom: 10px;
    display: flex;
    text-align: left;
}