.block-carroussel {
    height: 300px;
    width: 100%;
}

.carrousel-image {
    width: 100%;
    display: flex;
    align-items: center;
}

.fleche {
    position: absolute;
    width: 30px;
}

.fleche:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px black);
}

.fleche-gauche {
    transform: rotate(90deg);
    padding: 10px;
    width: 46px;
    height: 79px;
}

.fleche-droite {
    transform: rotate(270deg);
    padding: 10px;
    right: 5%;
    width: 46px;
    height: 79px;
}

.carrousel-photo {
    width: 100%;
    border-radius: 15px;
    height: 415px;
    object-fit: cover;
    display: none;
}

.carrousel-photo.actif {
    display: flex;
    width: 100%;
}

.carrousel-image-nombre {
    color: #ffffff;
    position: absolute;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    left: 48.95%;
    right: 49.11%;
    top: 530px;
}

@media screen and (max-width: 769px) {

    .carrousel-photo {
        height: 255px;
        margin-bottom: 15px;
    }

    .fleche-droite,
    .fleche-gauche {
        width: 11px;
        height: 19px;
    }

    .carrousel-image-nombre {
        display: none;
    }
}