.dropdown {
    border-radius: 5px;
    text-align: left;
    width: 100%;
    margin: 0 0 35px 0;
}

.header-dropdown {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    height: 47px;
    display: flex;
}

.titre-dropdown {
    color: #ffffff;
    margin: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 18px;
}

.fleche-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}

.fleche-dropdown.true {
    justify-content: start;
    transform: rotate(-180deg);
}

.description-dropdown {
    background-color: #f7f7f7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ff6060;
    min-height: 100px;
    padding: 25px 10px 10px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}

@media screen and (max-width: 769px) {

    .dropdown {
        margin-bottom: 20px;
        width: 100%;
    }

    .header-dropdown {
        height: 30px;
    }

    .titre-dropdown {
        font-size: 13px;
    }

    .description-dropdown {
        font-size: 12px;
        line-height: 17px;
        padding-top: 22px;
    }

    .fleche-dropdown img {
        height: 15px;
        width: 15px;
    }
}