.banniere-accueil{
  width: 90%;
}

.block-logements {
  background-color: #f7f7f7;
  border-radius: 25px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 10px;
}

.block-logements a{
  margin: 10px;
  width: 30%;
  height: 270px;
  border-radius: 10px;
}

.block-logements a:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px black);
}

.accueil{
  display: flex;
  flex-direction: column;
  align-items: center;
}
